img {
    width: 180px;
}
* {
    font-family: Consolas, monospace
}
.navbar {
    background-color: #59656F !important;
    padding: 20px !important;
    border: 3px solid #1D1E2C !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9) !important;
}
.navbar-nav .nav-link {
    color: #F7EBEC !important; 
}
.container h1.text-info,
.container p.text-info,
.container h2.text-info {
    color: #F7EBEC !important;
    font-size: 24px;
}
.container h1.text-info{
    font-size:  35px;
}

footer {
    height: 120px;
    background-color: #F15BB5; 
    text-align: center;
    margin-top: 20px;
    position: relative;
    
}
footer.text-info div{
    color: #F7EBEC;
}
.container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around; 
  }
  
  
  .contact-section {
    flex: 1; 
    padding: 20px; 
    width: 100%;
    padding: 20px;
    border: 3px solid #1D1E2C; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9); 
    margin-bottom: 20px; 
    margin-top: 20px;
  }
  
  .rounded {
   max-width: 100%; 
     margin-bottom: 20px;
     height: auto;
  }
 
  .img-container {
    position: absolute;
    bottom: 105px; 
    left: 50%;
    transform: translateX(-50%);
  }
  body.bg-dark{
    background-color: #89B0AE;
  }