img{
    width: 200px;
}
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
}
footer{
    height: 120px;
    background-color: blueviolet;
    text-align: center;
}
